#header .swiper-pagination-horizontal {
    right: 10px;
    left: auto;
    width: auto;
}

#header .swiper-pagination-bullet {
    /* background-color: green;
    opacity: 1; */
    width: 8px;
    height: 8px;
    /* border: 1px solid blue;
    background-color: green;
    opacity: 1; */
}

#header .swiper-pagination-bullet-active {
    /* background-color: red; */
    /* border: 1px solid white; */
    background-color: white;
}

.img {
    width: 100%
}